@media (max-width:1017px) {
    #NavItems{
       flex-direction: column;
       height:200px;
       padding: 40px;
       width: 100%;
       background-color: rgb(13, 15, 16);
       transform: translateY(60px);
       justify-content: space-around;
       position:fixed;
       top: 0;
       right: 0;
       left: 0;
    }
    #search{
        width: 100%;
        border: none;
    }
    #Add{
        width: 100%;
    }
    .SerarchMaindiv{
        width: 100%;
    }
    #ToggleBtn{
        display: block;
    }
    .search-image{
        display: none;
    }
}
@media (min-width:1017px) {
    #ToggleBtn{
        display: none;
    }
    #Add{
        margin-left: 40px;
    }
}