@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 16px;
    /* Width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #919191;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners of the scrollbar thumb */
    border: 5px solid transparent;
    /* Add padding around the thumb */
    background-clip: content-box;
    /* Ensure the thumb is clipped to its content box */
}
.Comments-section::-webkit-scrollbar-thumb {
    display: block;
    background-color: rgb(131, 131, 131);
}

.Comments-section::-webkit-scrollbar {
    display: block;
}

body {
    background-color: black;
}

body.no-scroll {
    overflow: hidden !important;
}